#box{
    display: grid;
   grid-template-columns:repeat(4,1fr);
 
}
img{
  height: 300px;
  width:300px;
}
body{
    text-align: center;
}
.data{
    margin-top:50px;
    height: 450px;
    width: 400px;
    background-color: #DDDDDD;
   padding: 10px;
   padding-top: 40px;
   border-radius: 20px;
 
   
}
h1{
 text-transform:capitalize;
}
button{
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
  color: red;
  text-transform:uppercase;
  font-weight: 700;

}